<h1>Create Post</h1>
<form action="/blogABCCreatePosts" method="POST">
    <label for="name" id="nameLabel">Name</label><br>
    <input type="text" id="postName" name="name">
    <hr>
    <label for="comments" id="commentsLabel">Comments</label><br>
    <textarea name="comments" id="commentsArea" cols="60" rows="10"></textarea>
    <hr>
    <label for="imageURL" id="imageURLLabel">imageURL</label><br>
    <input name="imageURL" id="imageURLArea"></input>
    <hr>
    <button id="PostButton" type="submit">Post Comment</button>
</form>