<p>This is the login page</p>
<h1>Login</h1>
<form action="/profile/login" method="POST" id="login-form">
    <label for="username" id="usernameLabel">Username</label>
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <label for="password" id="passwordLabel">Password</label>
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <label for="email" id="emailLabel">Email</label>
    <input type="email" name="email" id="email-field" class="login-form-field" placeholder="Email">
    <input type="submit" value="Login" name="login" id="login-form-submit">
</form>