<p>This is the Register page</p>
<h1>Register</h1>
<form action="/profile/register" method="POST">
    <label for="username" id="usernameLabel">Username</label>
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <label for="password" id="passwordLabel">Password</label>
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <label for="repeatPassword" id="passwordLabel">Re-enter Password</label>
    <input type="password" name="repeatPassword" id="repeatPassword" class="login-form-field" placeholder="Password">
    <label for="email" id="emailLabel">Email</label>
    <input type="email" name="email" id="email-field" class="login-form-field" placeholder="Email">
    <input type="submit" value="Register" name="register" id="register-form-submit">
</form>